# Environments
.env
.venv
venv/
env/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cache files
*.pkl
datamanual/index_cache.pkl

# IDE / Editor folders
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
